/* 颜色变量 */

$theme-main: #6f6cfb;
$theme-green: #16c784;
$theme-purple: #8675ff;
$theme-blue: #0173ff;
$theme-red: #f36d8e;
$theme-yellow: #fba544;

/* 文字基本颜色 */
$text-color: #383874;
$text-color-title: #323232;
$text-color-grey: #58667e; //辅助灰色，如加载更多的提示信息
$text-color-grey-lite: #8787ac;
$text-color-lite: #a6b0c3; //反色
$text-color-disable: #c0c0c0;