@font-face {
  font-family: "iconfont"; /* Project id 1971122 */
  src: url('iconfont.woff2?t=1631170879999') format('woff2'),
       url('iconfont.woff?t=1631170879999') format('woff'),
       url('iconfont.ttf?t=1631170879999') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huo:before {
  content: "\e606";
}

.icon-nan1:before {
  content: "\e6ef";
}

.icon-nv1:before {
  content: "\e6f0";
}

.icon-favorite:before {
  content: "\e66d";
}

.icon-star:before {
  content: "\e623";
}

.icon-nan:before {
  content: "\e6c2";
}

.icon-nv:before {
  content: "\e6c3";
}

.icon-v:before {
  content: "\e653";
}

.icon-moon:before {
  content: "\e780";
}

.icon-Sun:before {
  content: "\e637";
}

.icon-erweima:before {
  content: "\e6b0";
}

.icon-shang:before {
  content: "\e704";
}

.icon-xia:before {
  content: "\e701";
}

.icon-shangjia:before {
  content: "\eebd";
}

.icon-heart:before {
  content: "\e627";
}

.icon-liwu1:before {
  content: "\e620";
}

.icon-renshu1:before {
  content: "\e611";
}

.icon-tubiao03:before {
  content: "\e603";
}

.icon-avg:before {
  content: "\e604";
}

.icon-jiangxu:before {
  content: "\e618";
}

.icon-liucun:before {
  content: "\e6ae";
}

.icon-gouwuche:before {
  content: "\e602";
}

.icon-huabanbeifen7:before {
  content: "\e67f";
}

.icon-quanyuanyingxiaohuodongyuangongpaihangbang:before {
  content: "\e70b";
}

.icon-shangdian:before {
  content: "\e613";
}

.icon-zhibo-icon-dashang:before {
  content: "\e638";
}

.icon-shouru1:before {
  content: "\e69a";
}

.icon-shuju1:before {
  content: "\e61a";
}

.icon-shuju2:before {
  content: "\e636";
}

.icon-zhibo:before {
  content: "\e6d8";
}

.icon-shangpin-copy:before {
  content: "\e601";
}

.icon-shuju:before {
  content: "\e624";
}

.icon-bbtubiao-17:before {
  content: "\e6cf";
}

.icon-shouji:before {
  content: "\e66c";
}

.icon-youxiang:before {
  content: "\e600";
}

.icon-douyin:before {
  content: "\e665";
}

.icon-renshu:before {
  content: "\e642";
}

.icon-xiaoliang:before {
  content: "\e698";
}

.icon-liwu:before {
  content: "\e64d";
}

.icon-gengduo:before {
  content: "\e6d5";
}

.icon-list1:before {
  content: "\e615";
}

.icon-calendar:before {
  content: "\e718";
}

.icon-ticket:before {
  content: "\e752";
}

.icon-user-member:before {
  content: "\e75f";
}

.icon-cart-shopping:before {
  content: "\e6af";
}

.icon-shopping-bag:before {
  content: "\e6b6";
}

.icon-store:before {
  content: "\e6b8";
}

.icon-brand-exclusive:before {
  content: "\e6bb";
}

.icon-category:before {
  content: "\e6bc";
}

.icon-customer-priority:before {
  content: "\e6bd";
}

.icon-phone:before {
  content: "\e6c7";
}

.icon-scan-code:before {
  content: "\e6cc";
}

.icon-logo-wechat:before {
  content: "\e713";
}

.icon-logo-wechat-fill:before {
  content: "\e715";
}

.icon-dashboard:before {
  content: "\e721";
}

.icon-movie:before {
  content: "\e736";
}

.icon-rocket:before {
  content: "\e743";
}

.icon-vip-member:before {
  content: "\e760";
}

.icon-tik_tok:before {
  content: "\e661";
}

